* {
    font-family: 'Berkshire Swash', cursive;
}

html {
    font-size: 18px;
}

body {
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200%;
}

.hover {
    display: inline;
    height: 130px !important;
    width: 130px !important;
    margin: 0 !important;
}

.charpics {
    height: 130px;
    width: 130px;
    padding-top: 85px;
    margin: 10px !important;
    background-size: contain;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    color: gold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background-color: white;
    font-size: 30px;
    opacity: .95;
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.containment {
    margin: 10px !important;
}

.poonchy {
    background-image: url(../Images/poonchy1.jpg);
}

.respite {
    background-image: url(../Images/respite1.jpg);
}

.nythrae {
    background-image: url(../Images/nythrae1.png);
}

.firewraith {
    background-image: url(../Images/firewraith1.jpg);
}

.hover:hover .respite {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6), 0 24px 80px 0 rgba(0, 0, 0, 0.59);
    opacity: 1;
}
.hover:hover .poonchy {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6), 0 24px 80px 0 rgba(0, 0, 0, 0.59);
    opacity: 1;
}
.hover:hover .nythrae {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6), 0 24px 80px 0 rgba(0, 0, 0, 0.59);
    opacity: 1;
}
.hover:hover .firewraith {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6), 0 24px 80px 0 rgba(0, 0, 0, 0.59);
    opacity: 1;
}

a {
    text-decoration: none !important;
}

.hover:hover a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.containment{
    width: 130px;
    height: 130px;
    display: inline-block;
}

.row {
    padding-right: 20px;
}

.jumbotron {
    background-color: transparent !important;
    text-align: center;
}

.jumbotron h1 {
    color: white;
}

.jumbotron h2 {
    color: white;
}

img {
    border-radius: 20px;
    border: 10px solid black;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 1), 0 24px 80px 0 rgba(0, 0, 0, .9);
}

td {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

table {
    border-radius: 40px;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    font-size: 18px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6), 0 24px 80px 0 rgba(0, 0, 0, 0.59);
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

table tr:first-child td:first-child {
    border-top-left-radius: 20px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 20px;
}

.reshpee {
    margin-top: 20px;
    min-height: 100px !important;
}

.returnbutton {
    display: block;
    width: 215px;
    height: 46px;
    background: rgb(43, 84, 94);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
    -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;  
}

.returnbutton:hover {
    text-decoration: underline !important;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 1), 0 24px 80px 0 rgba(0, 0, 0, .9);
}

.jumbotron {
    margin: 0 !important;
    padding: 0 !important;
}